<!DOCTYPE html>
<html>
<head>
    <title>Murder at Magnolia Manor</title>
</head>
<body>
    <h1>Murder at Magnolia Manor</h1>
    <form action="/play" method="POST">
        <label>Enter your name:</label><br>
        <input type="text" name="name" required><br><br>

        <label>Select two traits:</label><br>
        <select name="trait1">
            <option>Curious</option>
            <option>Hot-Headed</option>
            <option>Genius</option>
            <option>Snob</option>
            <option>Romantic</option>
            <option>Paranoid</option>
        </select>
        <select name="trait2">
            <option>Curious</option>
            <option>Hot-Headed</option>
            <option>Genius</option>
            <option>Snob</option>
            <option>Romantic</option>
            <option>Paranoid</option>
        </select><br><br>

        <input type="submit" value="Start Game">
    </form>
</body>
</html>
